@import "../../scss/default/color_variable";
.step-by-step {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  border: 2px solid $accent;
  border-radius: 15px;

  .step{
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin: 40px;
    width: 70%;
  }

  .icon-color{
    color: $accent;
    margin-bottom: 20px;
    margin-left: 3rem;
  }

  .title{
    color: $accent;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;

  }

  .position {
    color: white;
    font-weight: 600;
    margin-bottom: -5px;
  }

  .money{
    color: $accent;
  }
}
  