
.home_page_newsLatter {
    width: 100%;
    height: 100%;
  }
  
  .home_page_newsLatter-item {
    text-align: center;
    font-size: 18px;
    background:black;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_page_newsLatter-item img {
    display: block;
   width: 200px;
    height: 250px;
    border-radius: 3px;
    object-fit: cover;
  }

  .home_page_newscenter-item{
    position: relative;

  }

  .home_page_newscenter-item img{
    width: 52rem;
    height: 17rem;
    object-fit: fill;

  }
  
  .home_page_newscenter-item-title {
    position: absolute;
    top: 15rem;
    left: 1rem;
    opacity: 0;
  }
  .home_page_newscenter-item:hover{
    opacity: 0.3;
  }
  .home_page_newscenter-item p:hover{
    opacity: 1;

  }
  .home_page_event-item img{
    width: 49rem;
    height: 22rem;

  }