/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #000000;
$primary: #FEFEFE;
$secondary: rgba($primary, 0.7);
$ternary: #999696;
$border: #4D4D4D;
$gray: #000000;
$accent: #FCC100;
$button: linear-gradient(to right, #c57a24 0%, #fcc100 100%);
$background: #181818;